<div class="aboutCtn">

    <div class="headCtn">
        <img src="../../../assets/img/logo5.png">
    </div>

    <h3>About Us</h3>
    <hr>


    <div class="storyBlk">

        <h4>Our Story</h4>
        <hr>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore adipisci veritatis
            quibusdam? Quo temporibus ullam repudiandae et voluptates, provident a ea aperiam beatae eos
            excepturi totam, nesciunt laborum, ducimus incidunt. Quis ex repudiandae inventore ipsum
            voluptas rerum tenetur ut. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis
            est at corporis minus, optio temporibus debitis saepe laborlum, consequatur dolorum sint,
            fugit impedit iusto similique placeat quas quo eveniet neque. Lorem ipsum dolor sit amet,
            consectetur adipisicing elit.iusto similique placeat quas quo eveniet neque. Lorem ipsum dolor sit amet,
            consectetur adipisicing elit.
        </p>

    </div>

    <hr>



    <div class="arrOne">
       
        <img class="i-a" src="../../../assets/img/arr2.png">
        <img class="i-b" src="../../../assets/img/arr4.png">
        <img class="i-c" src="../../../assets/img/arr5.png">
        <img class="i-d" src="../../../assets/img/arr7.png">
        <img class="i-e" src="../../../assets/img/arr3.png">
        <img class="i-f" src="../../../assets/img/arr3.png">
        <iframe src="https://giphy.com/embed/oVkc2ciJ2ni5E8pci2" width="220" height="179" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        <iframe src="https://giphy.com/embed/SACrCKUo2qiI35Y7tQ" width="280" height="280" frameBorder="0" class="giphy-embed2" allowFullScreen></iframe>

    </div>

    <div class="familyBlk">


        <div class="card-a">
            <img src="../../../assets/img/mumone.png"/>
            <div class="textCard">
                <h5>Nathalia</h5>
                <h6>The Fabulous Mum</h6>
                <hr>
                <p>Huge Fan of Pizzas</p>
                <p>Beauty and Lifestyle influencer, I work with a lot of brands to shot them products in beautifuls places . est at corporis minus, optio temporibus debitis saepe laborlum, consequatur dolorum sint,
                       </p>
                <p>I work with my Google Pixel Phone & the Canon EOS 4000D</p> 
            </div>
            <div class="btnWay">
                <a>Discover more</a>
            </div>
        </div>


        <div class="card-b">
            <img src="../../../assets/img/childone.jpg"/>
            <div class="textCard">
                <h5>Cloe</h5>
                <h6>The Big sister</h6>
                <hr>
                <p>Love Runing & paint</p>
                <p>Little princess of my dad, i love to practice sports, surf & running. I love too to paint landscape during the Roadtrip.</p>
                <p>I Work with unipen & Fabercastel materials</p>
            </div> 
            <div class="btnWay">
                <a>Discover more</a>
            </div>
        </div>

        <div class="card-c">
            <img src="../../../assets/img/childtwo.jpg"/>
            <div class="textCard">
                <h5>Archie</h5>
                <h6>The last but not least</h6>
                <hr>
                <p>Born to be a Star</p>
                <p>I'm the younger of the family, i'm already a star cause i love sing & imagine poems inspired by travel and people i met during travel.</p>
                <p>I work with a old Apple Ipod</p>
            </div>
            <div class="btnWay">
                <a>Discover more</a>
            </div>
        </div>

        <div class="card-d">
            <img src="../../../assets/img/childtroi.jpg"/>
            <div class="textCard">
                <h5>Nathan</h5>
                <h6>The grand Brother</h6>
                <hr>
                <p>Nature dreamer lover</p>
                <p>The old brother, like my parents i love to take photographies of nature around me specially animals & insects. I would like to expose my work around the world !</p>
                <p>I work with Polaroid instax 90</p>
            </div>
            <div class="btnWay">
                <a>Discover more</a>
            </div>

        </div>

        <div class="card-e">
            <img src="../../../assets/img/dadone.jpg"/>
            <div class="textCard">
                <h5>Mike</h5>
               
                <h6>The Amazing Dad</h6>
                <hr>
                <p>Old school Driver & surfer</p>
                <p>I used to be a pro surfer and i decided to continue to travel to live my second passion photography. I expose most of my work in USA and Europe.</p>
                <p>I work with Go Pro & Reflex Nikon D3100</p>
            </div>
            <div class="btnWay">
                <a>Discover more</a>
            </div>
        </div>
    </div>

</div>