<ngx-smart-modal #myModal identifier="myModal" customClass="progressBox" class="progressBox">
    <h3>Your Message is send !!!</h3>
    <hr>
    <p>We are actually on the road, we will respond to you ASAP...</p>
    <iframe src="https://giphy.com/embed/55gPcfOEQBkAfvtoE0" width="480" height="446" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    <hr>
    <button (click)="myModal.close()">Close</button>
</ngx-smart-modal>

<div class="contactCtn">
    <video autoplay loop id="bkgVid">
        <source src="../../../assets/Road-Tripping.mp4">
    </video>

    <div class="formBlk">

        <h3>Contact Us</h3>
        <hr>

        <form>
            <div>
               <!--  <label for="name">Name :</label> -->
                <input type="text" name="user_name"  placeholder="Your name">
            </div>
            <div>
               <!-- <label for="mail">E-mail :</label> -->
                <input type="email" name="user_mail"  placeholder="Your e-mail">
            </div>
            <div class="selBlk">
               <!-- <label for="select">who are you ?</label> -->
                <select name="option">
                    <option>Who are you ?</option>
                    <option>A huge Fan</option>
                    <option>A brand</option>
                    <option>A gallery</option>
                    <option>Other</option>
                </select>
            </div>
            <div>
               <!-- <label for="msg">Message :</label> -->
                <textarea type="text" name="user_message" placeholder="Your message"></textarea>
            </div>
            
                
            
        </form>

        <button (click)="ngxSmartModalService.getModal('myModal').open()">Send love</button >

    </div>
    
</div>