<div class="blogCtn">

    <div class="blogGrid">

        <div class="item-1">
            <img src="../../../assets/img/trvl2.jpg"/>
        </div>

        <div class="item-2">
            <h4>Blog</h4>
        </div>

        <div class="item-3">
            <h5>Eat Healthy <br> in Tokyo.</h5>
            <hr>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore adipisci veritatis
                quibusdam. Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore adipisci veritatis
                quibusdam? Quo temporibus ullam repudiandae et voluptates, provident a ea aperiam beatae eos
                excepturi totam, nesciunt laborum, ducimus incidunt. Quis ex repudiandae inventore ipsum
                voluptas rerum tenetur ut. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis
                est at corporis minus, optio temporibus debitis saepe laborlum, consequatur dolorum sint,
                fugit impedit iusto similique placeat quas quo eveniet neque. Lorem ipsum dolor sit amet,
                consectetur adipisicing elit.
            </p>
            <br>
            <p>
                Iusto omnis nostrum culpa vitae, facere blanditiis ad eum
                autem fugit, obcaecati cupiditate inventore commodi laudantium ex provident minima, earum
                quos aliquam ab.
                Iusto omnis nostrum culpa vitae, facere blanditiis ad eum
                autem fugit, obcaecati cupiditate inventore commodi laudantium ex provident minima, earum
                quos aliquam ab.                 Iusto omnis nostrum culpa vitae, facere blanditiis ad eum
                autem fugit, obcaecati cupiditate inventore commodi laudantium ex provident minima, earum
                quos aliquam ab.
            </p>

            <hr>

            <i class="fas fa-hamburger"></i>

            <p class="txtGras">
                300-11, Kochino Atuta <br> Tokyo, IL 60611, <br> Japan
            </p>


        </div>

        <div class="item-4">
            <h5>Car activities for kids.</h5>
            <hr>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore adipisci veritatis
                quibusdam? <br> <br> Quo temporibus ullam repudiandae et voluptates, provident a ea aperiam beatae eos
                excepturi totam, nesciunt laborum, ducimus incidunt. Quis ex repudiandae inventore ipsum
                voluptas rerum tenetur ut. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis
                est at corporis minus, optio temporibus debitis saepe laborlum, consequatur dolorum sint,
                fugit impedit iusto similique placeat quas quo eveniet neque. Lorem ipsum dolor sit amet,
                consectetur adipisicing elit.
            </p>


        </div>

        <div class="item-5">
            <h5>Best spot for photo shooting in chicago.</h5>
            <hr>

            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore adipisci veritatis
                quibusdam? Quo temporibus ullam repudiandae et voluptates, provident a ea aperiam beatae eos
                excepturi totam, nesciunt laborum, ducimus incidunt. Quis ex repudiandae inventore ipsum
                voluptas rerum tenetur ut.
            </p>
            <p>
                - 800 N Michigan Ave - <br> Chicago, IL 60611, <br> États-Unis
            </p>
            <div class="btnWay">
                <a>Discover the shooting</a>
            </div>

        </div>

        <div class="item-6">
            <img src="../../../assets/img/girl.jpg" />
        </div>

        <div class="item-7">
            <h5>Archie's Poem.</h5>
            <hr>
            <p>
                Voilà
                la rose est rouge
                les amoureux s’embrassent
                et partagent leur âme
                assis sur le banc chaud
                <br> <br>
                Voilà
                la rose est douce
                les amoureux se touchent
                et se disent en cachette
                des mots silencieux
                <br>  <br>
                Voilà
                la rose perle
                les amoureux s’enivrent
                au doux son du printemps
                que chantent les oiseaux
                    
            </p>

            <hr>

        </div>
    

    </div>

</div>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">