<div class="mapCtn">

    <h3>Travel in Progress</h3>

    <hr>

    <div class="mapBck">

        <div class="laMap">

            <img src="../../assets/img/worldmap.png"/>

            <div class="pins">

                <div class='pin'></div>
                <div class="center"></div>

            </div>

            <div class="pins2">

                <div class='pin'></div>
                <div class="center"></div>

            </div>

            <div class="pins3">

                <div class='pin'></div>
                <div class="center"></div>

            </div>
        </div>

    </div>

    

</div>
