.navBlc {
    background-color: rgb(240, 167, 57);
    width: 6%;
    height: 100vh;
    margin-left: -1%;
    margin-top: -2%;
    margin-bottom: 2%;
    padding-bottom: 2%;
    position: fixed;
    z-index: 4;
}

.linkblc {
}

.linkblc a{
    position: relative;
    top: 100px;
    text-decoration: none;
    color: azure;
    font-family: 'Rubik';
    font-weight: bold;
    font-size: 22px;
    padding: 40%;
    text-align: center;
    display: block;
    transform: rotate( -90deg );
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}

.navBlc i{
    position: relative;
    top: 50px;
    left: 30%;
    font-size: 60px;
    color: azure;
}

button {
    color: inherit;
    background: transparent;
    border: none;
}
/* Focus event */


