@import '../../../styles.scss';

/* HEADER & ANIMATION */

.headCtn {
    display: flex;
    justify-content: center;
    padding-top: 2%;
    animation: bounceInDown 3s;
}

.headCtn img {
    width: 27%;
    height: 27%;
}

@-webkit-keyframes bounceInDown {
    0% {
      opacity: 0;
      transform: translate3d(0, -700px, 0);}
  
    60% {
      opacity: 1;
      transform: translate3d(0, 25px, 0);}
  
    75% {
      transform: translate3d(0, -10px, 0);}
  
    90% {
      transform: translate3d(0, 5px, 0);}
  
    to {
      transform: translate3d(0, 0, 0);}
  }

/* TITLE */ 

h3{
    @include Titre_h3; }

hr {
    @include Titre_hr; }

/* HEAD GALLERY */ 

h4, h5 {
    @include Titre_Blue;
}

.textBlc {
    margin: 50px; }

/* GALLERY 1 */ 

.gridBlc img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.gridBlc {
    width: 90%;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 30% 30% 30% 30%; 
    grid-gap: 15px;
    justify-content: center;
    opacity: 0.9; }

#item-a {
    grid-column: 1 / 3; }

#item-c {
    grid-column: 4 / 4;
    grid-row: 1 / 4 ;}


#item-d {
    grid-column: 1 / 1;
    grid-row: 2 / 4 ; }

#item-e {
    grid-column: 2 / 4;
    grid-row: 2 / 4 ; }

/* GALLERY 2 */ 

#item-f {
    grid-column: 1 / 2;
    grid-row: 1 / 4 ; }

#item-i {
    grid-column: 2 / 5;
    grid-row: 2 / 4 ; }

#item-h {
    opacity: 0.8; }


/* GALLERY 3 */ 

#item-o {
    grid-column: 1 / 3;
    grid-row: 1 / 2 ; }

#item-k {
    grid-column: 1 / 3;
    grid-row: 2 / 4 ; }

#item-m {
    grid-column: 3 / 4;
    grid-row: 1 / 3 ; }

#item-n {
    grid-column: 4 / 5;
    grid-row: 1 / 4 ; }

/* HOVER EFFECT */

.gridBlc:hover .box{
    filter:blur(1px);
    opacity:.8;
    transform: scale(.98);
    box-shadow:none;
}

.gridBlc:hover .box:hover{
    transform:scale(1);
    filter:blur(0px);
    opacity:1;
    box-shadow:0 8px 20px 0px rgba(0,0,0,0.3);
}

/* MOBILE STYLE */

@media (max-width: 820px) {
    .gridBlc {
        width: 80%;
        height: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        margin-bottom: 15%;
    }

    .gridBlc img {
        margin-bottom: 4%; }

    /* HEADER */

    .headCtn img {
        width: 80%;
        height: 80%;
        padding-top: 5%;
        margin-bottom: 5%;
    }
}