
<div class="galleryCtn">

    <img src="../../../assets/img/arr3.png" class="arrOne"/>
    <img src="../../../assets/img/arr4.png" class="arrTwo"/>


    <div class="headCtn">
        <img src="../../../assets/img/logo5.png">
    </div>

    <h3>Gallery</h3>

    <hr>
    
    

    <div class="gridFrst">
        
        <div class="textBlc">

            <h5>- CANADA -</h5>
            <h4>Algoquin Park</h4>

        </div >
        
        <div class="gridBlc">

            <div id="item-a" class="box">
                <img class="modalImage" data-title="Algonquin Parc / Canada / 87Q3RJPC+V9 / November 2018" src="https://res.cloudinary.com/dn4gqvfba/image/upload/v1551783471/Ellaboranto/photo1.jpg" alt="voyage">
            </div>


            <div id="item-b" class="box">
                <img class= "modalImage" data-title="Algonquin Parc / Canada / 87Q3RJPC+V4 / October 2018" src="https://res.cloudinary.com/dn4gqvfba/image/upload/v1551817437/Ellaboranto/adult-adventure-boy-1157386.jpg" alt="voyage2">
            </div>

            <div id="item-c" class="box">
                <img class="modalImage" data-title="Algonquin Parc / Canada / 87Q3RJPC+V3 / November 2018" src="https://res.cloudinary.com/dn4gqvfba/image/upload/v1551817450/Ellaboranto/action-automobile-automotive-1849086.jpg" alt="voyage3">
            </div>

            <div id="item-d" class="box">
                <img class="modalImage" data-title="Algonquin Parc / Canada / 87Q3RJPC+V2 / November 2018" src="https://res.cloudinary.com/dn4gqvfba/image/upload/v1551817446/Ellaboranto/barefoot-beach-cheerful-1574653.jpg" alt="voyage4">
            </div>

            <div id="item-e" class="box">
                <img class="modalImage" data-title="Algonquin Parc / Canada / 87Q3RJPC+V6 / November 2018" src="https://res.cloudinary.com/dn4gqvfba/image/upload/v1551817444/Ellaboranto/beach-children-coast-1509757.jpg"  alt="voyage5">
            </div>
        
        </div>

    </div>

    <hr>

    <div class="gridScnd">
        
        <div class="textBlc">

            <h5>- JAPAN -</h5>
            <h4>Tokyo City</h4>

        </div >
        
        <div class="gridBlc">

            <div id="item-f" class="box">
                <img class="modalImage" data-title="Tokyo / Japan / 87Q3RJPC+V2 / June 2017" src="https://res.cloudinary.com/dn4gqvfba/image/upload/v1552926974/Ellaboranto/asia-billboards-city-1727627.jpg"alt="voyage6">
            </div>

            <div id="item-g" class="box">
                <img class="modalImage" data-title="Tokyo / Japan / 87Q3RJPC+V6 / June 2017" src="https://res.cloudinary.com/dn4gqvfba/image/upload/v1552926971/Ellaboranto/1536627800354.jpg"alt="voyage7">
            </div>

            <div id="item-h" class="box">
                <img class="modalImage" data-title="Tokyo / Japan / 87Q3RJPC+V4 / July 2017" src="https://res.cloudinary.com/dn4gqvfba/image/upload/v1552926968/Ellaboranto/architecture-boy-family-712473.jpg"alt="voyage8">
            </div>

            <div id="item-i" class="box">
                <img class="modalImage" data-title="Tokyo / Japan / 87Q3RJPC+V8 / July 2017"  src="https://res.cloudinary.com/dn4gqvfba/image/upload/v1552926964/Ellaboranto/asia-japan-japanese-590478.jpg"alt="voyage9">
            </div>

            <div id="item-j" class="box">
                <img class="modalImage" data-title="Tokyo / Japan / 87Q3RJPC+V3 / June 2017"  src="https://res.cloudinary.com/dn4gqvfba/image/upload/v1552927093/Ellaboranto/alley-architecture-buildings-1344537.jpg"alt="voyage9">
            </div>
        
        </div>

    </div>

    <hr>

    <div class="gridthrd">
        
        <div class="textBlc">

            <h5>- USA -</h5>
            <h4>From Chicago to Dallas</h4>

        </div >
        
        <div class="gridBlc">

            <div id="item-o" class="box">
                <img class="modalImage" data-title="On the road for Chicago / USA / 87Q3RJPC+V1 / January 2018" src="https://res.cloudinary.com/dn4gqvfba/image/upload/v1552927540/Ellaboranto/autumn-boy-cap-1050082.jpg"alt="voyage14">
            </div>

            <div id="item-k" class="box">
                <img class="modalImage" data-title="On the road for Chicago / USA / 87Q3RJPC+V8 / January 2018" src="https://res.cloudinary.com/dn4gqvfba/image/upload/v1552927637/Ellaboranto/adventure-baby-beautiful-286625.jpg"alt="voyage10">
            </div>

            <div id="item-l" class="box">
                <img class="modalImage" data-title="On the road for Chicago / USA / 87Q3RJPC+V7 / January 2018" src="https://res.cloudinary.com/dn4gqvfba/image/upload/v1552927557/Ellaboranto/adult-affection-baby-853408.jpg"alt="voyage11">
            </div>

            <div id="item-m" class="box">
                <img class="modalImage" data-title="On the road for Chicago / USA / 87Q3RJPC+V5 / January 2018" src="https://res.cloudinary.com/dn4gqvfba/image/upload/v1552927550/Ellaboranto/architecture-art-automobile-1693543.jpg"alt="voyage12">
            </div>

            <div id="item-n" class="box">
                <img class="modalImage" data-title="On the road for Chicago / USA / 87Q3RJPC+V2 / January 2018" src="https://res.cloudinary.com/dn4gqvfba/image/upload/v1552927545/Ellaboranto/architecture-building-buildings-1687314.jpg"alt="voyage13">
            </div>
        
        </div>

    </div>

    <hr>


</div>