@import '../../../styles.scss';

// HEADER //

h3{
    @include Titre_h3;
}

hr {
    @include Titre_hr;
}

// MAP BACK //

.mapBck{

    background-color: #a3d8d2;
    width: 100%;
    
}

.laMap {
    display: flex;
    justify-content: center;
    width: 100%;
    animation: fromleft 3s ;
}


.mapBck img {
    width: 65%;
    height: 65%;
}

// PINS //

.laMap i {
    color: orange;
    font-size: 210%;
}

.pinOne {
    position: relative;
    right: 53%; & i {
        position: absolute;
        animation: bounceOne 1s infinite;
    }
}

.pinTwo {
    position: relative;
    right: 54%;  & i {
        position: absolute;
        animation: bounceTwo 0.8s infinite;
    }
}

.pinThree {
    position: relative;
    right: 10%;  & i {
        position: absolute;
        animation: bounceThree 0.9s infinite;
    }
}

// ANIMATION //

@-webkit-keyframes bounceOne {
    0% {top: 16%;}
    50%  {top: 10%;}
    100%   {top: 16%;}} 

@-webkit-keyframes bounceTwo {
    0% {top: 28%;}
    50%  {top: 22%;}
    100%   {top: 28%;}} 

@-webkit-keyframes bounceThree {
    0% {top: 38%;}
    50%  {top: 32%;}
    100%   {top: 38%;}} 
    
@-webkit-keyframes fromleft {
    0% {margin-left: -800px;}
    100%   {margin-left: 0px;}
}
    // PINS //
    
// .pin {
//     position: relative;
//     width: 40px;
//     height: 40px;
//     background-color: rgb(244, 133, 54);
//     border-radius: 50% 50% 0;
//     transform: rotate(45deg);
//     top:106px;
//     left:259px;
//     animation: bounce 1s infinite;
// }

// .center {
//     position: relative;
//     width: 20px;
//     height: 20px;
//     background-color: #ffff;
//     border-radius: 50% ;
//     top:75px;
//     left:266.5px;
//     animation: bounce2 1s infinite;
//     z-index: 6;
// }


// @-webkit-keyframes bounce {
//     0% {top: 106px;}
//     50%  {top: 86px;}
//     100%   {top: 106px;}
// } 

// @-webkit-keyframes bounce2 {
//     0% {top: 75px;}
//     50%  {top: 55px;}
//     100%   {top: 75px;}
// } 

// PINS  POSITION //

// .pins {
// //     position: relative;
// //     left: -23%;
// //     top: 130px;
// // }

// // .pins2 {
// //     position: relative;
// //     left: -68%;
// //     top: 17px;
// // }

// // .pins3 {
// //     position: relative;
// //     left: -75%;
// //     top: 67px;
// // }
