.menuBlc {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgb(35, 62, 79);
    z-index: 6;
    display: flex;
    flex-direction: column;
    margin-top: -8px;
    margin-left: -8px;
}

.menuBlc h4 {
    font-size: 60px;
    color: white;
    font-family: 'Vibur', cursive;
    margin-bottom: -2%;
    margin-top: 7%;
}

.menuBlc a {
    font-size: 33px;
    color: white;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 12%;
    text-decoration: none;
}

.menuBlc hr {
    color: white;
    width: 40%;
    border: 2px solid white;
    margin-bottom: 6%;
}

.menuBtn {
    position: fixed;
    left: 8%;
    bottom: 5%;
    z-index: 10;
}

.menuBtn i {
    font-size: 40px;
    background-color: rgb(240, 167, 57);
    color: white;
    padding: 10px;
    padding-left: 13px;
    padding-right: 13px;
    border-radius: 80%;
}

// .blcOne {
// height: 30vw;
// }

.blcTwo {
    height: 30vw;
    // background-color: rgb(240, 167, 57);
} 

.blcThree {
    height: 30vw;
    background-color: #b4ae00;
} 

.blcFour {
    height: 30vw;
    background-color: #a2d0cb;
} 

.blcFive {
    height: 30vw;
    background-color:rgb(240, 167, 57);
} 

.blcSix {
    background-color: #d2d454;
    height: 30vw;
} 

.menuBlc i {
    color: white;
    font-size: 48px;
    position: relative;
    top: 30%;
    margin-left: 7%;
}

.menuBlc a {
    position: relative;
    top: 25%;
    left: 19%;
}