<div class="menuCtn">

  <div class="menuBlc" *ngIf="showMenuPage">
      <!-- <div class="blcOne">
        <h4>Menu</h4>
      </div> -->
      
      <div class="blcTwo">
        <i class="fas fa-camera-retro"></i>
        <a [routerLink]="['/gallery']" (click)="closeMenu()">Gallery</a>
      </div>
      <div class="blcThree">
        <i class="fas fa-map-marked-alt"></i>
        <a [routerLink]="['/map']"(click)="closeMenu()">Map</a>
      </div>
      <div class="blcFour">
        <i class="fas fa-pencil-alt"></i>
       <a [routerLink]="['/blog']" (click)="closeMenu()">Blog</a>
      </div>
      <div class="blcFive">
          <i class="fas fa-book"></i>
       <a [routerLink]="['/about']" (click)="closeMenu()">About</a>
      </div>
      <div class="blcSix">
          <i class="far fa-paper-plane"></i>
        <a [routerLink]="['/contact']" (click)="closeMenu()">Contact</a>
      </div>
      
    </div>

  <div class="menuBtn" (click)="openMenu()">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
      <i class="fas fa-bars"></i>
  </div>

</div>